extends layout

block variables
  - title = 'Webインタフェース構築のためのstate chart型言語'

block abstruct
  非同期処理を含むWebインタフェースを構築するための手法として、state chartを取り入れたヴィジュアルプログラミング環境を提案する。

block content
  section
    h1 はじめに
    p 非同期処理を含むWebインタフェースを構築するための手法として、state chartを取り入れたヴィジュアルプログラミング環境を提案する。
    p 本システムを用いることで、
  section
    h1 背景
    section
      h1 Webページクライアントサイドにおける非同期処理
      p ユーザーの動作や、Ajaxを用いた外部ファイル読み込み等が頻繁に行われる。Javascriptは、処理を非同期で行うことによって、並列化により処理終了までの時間を短縮することができる。(このへんのことを語っている資料を見つけておきたい。参照付ける)
    section
      h1 HTML5の普及による影響
      p 現在のWebアプリケーション開発において、この非同期処理が担っている役割は大きい。HTML5の普及により、Webアプリケーションがよりリッチなインタフェースを持つようになったことが、その理由だ。これにより、スマートフォンへのマルチタッチや、本体を振るなど多種多様なイベントに対する振る舞いを取り扱う必要が出てきた。また、新しいデータを取得する場合にも、HTML全体をリクエストし直すより、Ajaxを用いて必要なデータのみをリクエストし、それを受け取ってインタフェースに組込む処理を行う、という流れが普通になってきている。
  section
    h1 研究の目的
    section
      h1 問題提起
      p ただしこの一方で、開発者にとっては分かりづらい部分も多くなっている。例えば、関数がソースコード上で書かれている順番と、実行される順番が大きく異なる場合もある。かならず立て続けに実行される処理でも、ソースコード上では一続きに書くことができない、ということが起きる。
      p ソースコードの理解しづらさは、プログラムのメンテナンス性、また共同で開発をする場合の共有のしやすさ等の観点から、開発における障害となる。しかしながら、この読みづらいコードを取り扱わなければならないという問題に対して、いまのところ抜本的な解決策はない。
    section
      h1 解決方法
      p 本研究では、この問題を解決するためのヴィジュアルプログラミング環境を作成する。実行の位置が動的に変化する非同期処理を、上から下へと進むことしかできない、テキストのプログラミングで分かりやすく表現することには、限界があるからだ。
      p 非同期処理がいくつもある形の処理は、いつどの処理が終わるのを待っているか、待ち状態の遷移の形で表現できると考えられるため、state chartを取り入れた表現方法を用いる。
    section
      h1 評価方法
      ul
        li 現行のツールと比べて、メンテナンス性やコードの共有がスムーズにできるかを評価。
        li Javascriptとシームレスに繋げられる仕様であるべき
          ul
            li 別口で読み込んでおいたJavascriptの関数を使える、って形がいいな。
            li 絶対にJavascriptプログラマーじゃないと書けないものは、読み込みJSで書いておいてしまう、ってのがいいな!!

      section
        h1 メンテナンス性
        p 普通のJavascriptで書いたコードと、sugorokuで書いたコードそれぞれで、同じような「コードを直す」作業をやってもらう。どちらならできるか、またかかった時間はどれくらいかなどを確認。(できるひとなら1問5分、くらいのものを8問くらいはやりたいなぁ)

      section
        h1 メンテナンス性
        p だいたい何をやっているコードなのか、答えてもらう。

      section
        h1 実験の題材
        p twitterっぽいシステム?

  section
    h1 先行研究との比較
    section
      h1 async.js, deffered.js
      p Javascriptのライブラリのレベルで、非同期処理をシンプルに書こうとする試みも、もちろんある。
      a 参考へのリンク
  section
    h1 実装
    section
      h1 state chartの実装について
    section
      h1 システム詳細
  section
    h1 評価
  section
    h1 結び
  section
    h1 参考文献