doctype 5
html
  block variables
  head
    link(rel='stylesheet', href='./stylesheets/style.css')
    title= title
  body
    div#wrap
      header#header
        h1= title
        ul
         li t09832sf
         li 藤澤伸
      article#main
        block content