doctype 5
html
  block variables
  head
    link(rel="stylesheet", href="./stylesheets/style.css")
    script(type="text/javascript", src="./javascripts/jquery-1.8.2.js")
    script(type="text/javascript", src="./javascripts/toc.js")
    title= title
  body
    div#wrap
      header#header
        h1= title
        ul
         li 70948320
         li t09832sf
         li 藤澤伸
      aside#toc
      article#main
        block content