body {
    background-color: white;
    font-family: serif;
}

h1 {
    padding: 0.5em 0em 0em 0em; margin: 0em;
    font-size: 100%;
}

article,section,header,figure,figcaption {
    display: block;
    margin: 0em;
    padding: 0em;    
}

#wrap {
    max-width: 600px;
    margin: auto;
}

#wrap section {
    margin-top: 1em;
}

#wrap section h1 {
    text-align: center;
}

#header h1 {
    padding: 0em; margin: 0em;
    font-size: 200%;
}
#header footer {
    display: block;
    text-align: right;
}

#toc {
    background-color: #eee;
    padding: 0.5em;
}

#toc ul {
    display: block;
    margin: 0em;
    padding: 0em 0em 0em 0.5em;
}

#toc li {
    display: block;
    margin: 0em;

}

article h1 {
    border-bottom: solid 2px gray;
    text-align: left !important;
}

article p {
    text-indent: 1em;
}

article section {
    margin: 2em 0em;
    border-style: none !important;
}
article section section {
    margin: 0em;
}

article section section h1 {
    border-style: none;
}

article figure {
    margin: 1em;
    text-align: center;
    font-size: 80%;
    color: gray;
}
article img {
    width: 100%;
    display: block;
    margin: 0em auto;
}

img:after {
    content: "hogehoge";
}