body {
    background-color: white;
}

h1 {
    padding: 0.5em 0em 0em 0em; margin: 0em;
}

#wrap {
    max-width: 500px;
    margin: auto;    
}

#header ul,#header li {
    display: block;
    text-align: right;    
}

#toc {
    background-color: #eee;
    padding: 0.5em;
}

#toc ul {
    display: block;
    margin: 0em;
    padding: 0em 0em 0em 0.5em;
}

#toc li {
    display: block;
    margin: 0em;

}

article h1 {
    border-bottom: solid 2px gray;    
    font-size: 100%;
}

article p {
    text-indent: 1em;    
}

article section {
    margin: 2em 0em;
}
article section section {
    margin: 0em;
}

article section section h1 {
    border-style: none;   

}